

<!--
    <button (click)="shuffle()">Configure</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>Votes</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody [transition-group]="'flip-list'">
            <tr *ngFor="let item of items" transition-group-item>
                <td>{{item}}</td>
                <td>
                    <a class="btn btn-default" role="button" (click)="shuffle()">
                        <span class="glyphicon glyphicon-arrow-up"></span> Upvote!
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
-->
<app-home></app-home>
<router-outlet></router-outlet>
